
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0a0a0a;
  color: #f4f4f4;
}

.font-technical {
  font-family: 'JetBrains Mono', monospace;
}
